@use "bootstrap/scss/bootstrap" with (
    $primary: #00a645,
    $min-contrast-ratio: 3
);
@use "./scss/highlight";

@import "@angular/cdk/overlay-prebuilt.css";

.navbar {
    --bs-navbar-padding-x: 1rem;
}

:root {
    --bs-body-bg: var(--bs-gray-100);
}

.cdk-overlay-container {
    &:not(.color-picker-container) {
        z-index: 10011 !important;
    }
}

.row {
    gap: 1rem 0;
}

app-inputs-table,
app-outputs-table {
    & + & {
        margin-top: 2rem;
    }
}
