@import "bootstrap/dist/css/bootstrap.css";
@import "@angular/cdk/overlay-prebuilt.css";

.navbar {
    --bs-navbar-padding-x: 1rem;
}

:root {
    --bs-body-bg: var(--bs-gray-100);
}

.cdk-overlay-container {
    &:not(.color-picker-container) {
        z-index: 10011 !important;
    }
}

@import "./scss/highlight";

app-inputs-table,
app-outputs-table {
    & + & {
        margin-top: 2rem;
    }
}
