.gist-loading-error {
    overflow-wrap: break-word;
}

pre {
    margin: 0;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--bs-gray-200);

    &.empty {
        display: none;
    }
}
