$color_1: rgba(255, 255, 255, 0.75);
$color_2: #6c757d;
$color_3: #007bff;
$color_4: #343a40;

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
    top: 58px;

    .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        color: $color_1;
    }

    .nav-link {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        font-size: 0.875rem;
        font-weight: 500;
        color: $color_2;
        transition: color 0.2s ease-in-out;

        &:hover,
        &:focus {
            color: $color_4;
        }

        &.active,
        &:active {
            color: $color_3;
        }
    }
}
