@use "./helpers";

.col {
    flex: 300px 1 1;
}

.highlighted-result {
    display: flex;

    pre {
        min-height: 100%;
        display: flex;
        width: 0;
        flex: 100% 1 1;
        border-radius: 0.5rem;

        code {
            flex: auto 1 1;
        }
    }
}
