.demo-content{
    transform: translateZ(0);
    
    @media (min-width: 992px){
        padding: 2rem;
    }
}

.spacer {
    flex: auto 1 1;
}


svg.github {
    width: 1.5rem;
    height: 1.5rem;
}
