<div class="container" style="padding-top: 20px;">
  <div class="panel panel-default">
    <div class="panel-heading">Basic</div>
    <div class="panel-body">
      <ngx-json-view [data]="data"></ngx-json-view>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">With expansion parameters</div>
    <div class="panel-body">
      <ngx-json-view [data]="data" [levelOpen]="0"></ngx-json-view>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">With levelLabels {{levelLabels | json}}</div>
    <div class="panel-body">
      <ngx-json-view [data]="data" [levelOpen]="0" [levelLabels]="levelLabels"></ngx-json-view>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">live test</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <textarea class="form-control" rows="15" [ngModel]="customData" (ngModelChange)="ngModelChange($event)"></textarea>
        </div>
        <div class="col-md-6">
          <ngx-json-view [data]="customJson"></ngx-json-view>
        </div>
      </div>
    </div>
  </div>
</div>