:host {
    display: flex;
    position: relative;
    border-radius: 0.5rem;
    background-color: var(--bs-gray-200);
    padding: 1rem;
}

button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    border: none;
    background: var(--bs-gray-200) !important;
    border-radius: 0.5rem;

    svg {
        fill: currentcolor;
        width: 1rem;
        height: 1rem;
        margin: 0.25rem 0;
    }
}

pre {
    margin: 0;

    code {
        padding-right: 3rem;
    }
}
